@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-poppins bg-gray-950
}

.main{
    background-image: url('../src/assets/hero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}